
@{
    ViewBag.Title = "AboutMe";
}

<h2>Something About Rohann</h2>
<h5>I am actually very shy :)</h5>
<br />
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8">
            <h2>Bio</h2>
            <p>My name is <b>Rohann Rossouw</b>, I am a 20 year old third year University of Pretoria student.
            I am studying Bcom Informatics and I hope that this is my last year ;). As you've seen previously on the
            Images page, some of my favorite things in life include:
                          <ul>
                              <li>Animals</li>
                              <li>Cricket</li>
                              <li>Gym</li>
                              <li>Music</li>
                              <li>Rugby</li>
                              <li>Soccer</li>
                          </ul>
            I am very passionite about sport and excercise and I love to stay active to keep a healthy lifestyle.
            I am excited for what my future holds and can't wait to become a developer one day!
            </p>
        </div>
        <div class="col-lg-4">
            <h2>Rohann Rossouw</h2>
            <img src="~/Content/SiteImages/Rohann.jpg" height="300" width="450" />
        </div>
    </div>
</div>

