@model List<u20633930_HW03.Models.FileModel>

@{
    ViewBag.Title = "Files";
}

<h2>Documents of any File Type</h2>
<h5>.............."Media/Documents/" folder</h5>
<br />
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <table class="table">
                <thead>
                    <tr style="background-color:black;color:white">
                        <th>File Name </th>
                        <th>Download Option </th>
                        <th>Delete Option </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var file in Model)
                    {
                    <tr>
                        <td>@file.FileName</td>
                        <td><button class="btn btn-success" onclick="window.location.href ='@Url.Action("DownloadFile","Media", new { fileName = file.FileName, fileType = file.FileType })'">Download</button></td>
                        <td><button class="btn btn-danger" onclick="window.location.href ='@Url.Action("DeleteFile","Media", new { fileName = file.FileName, fileType = file.FileType })'">Delete</button></td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

